* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pagina {
  background-color: #fcbafa;
  font-family: sans-serif;
}

.secao {
  min-height: 100vh;
  padding: 100px 20px; 
  text-align: center;
}

.nome {
  color: rgb(238, 46, 142);
  font-size: 50px;
}
